<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Some</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header">
    <div class="container header__inner">
        <div class="header__logo-wrapper">
            <img class="header__logo" src="../assets/images/logo.png" alt="logotype">
        </div>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="#">Главная</a>
                </li>
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="#">Нам доверяют</a>
                </li>
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="#">Фотографии</a>
                </li>
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="#">Сертификаты</a>
                </li>
                <li class="header__navigation-item">
                    <a class="header__navigation-link" href="#">Где нас найти?</a>
                </li>
            </ul>
        </nav>
        <div class="header__contacts">
            <a class="header__contacts-phone" href="tel:89152543992">89152543992</a>
        </div>
    </div>
</header>
<main class="main">
    <div class="container main__inner">
        <section class="main__theme theme">
            <div class="theme__text">
                <h2 class="theme__text-title">
                    <span class="title-span">У нас вы найдете лучшие</span>
                    <span class="title-span">светодиодные лампы</span>
                    <span class="title-span">для животоводства</span>
                </h2>
                <div class="theme__text-description">
                    Оставьте нам свой номер,
                    и получите <a class="theme__text-description-link" href="#">бесплатный</a> рассчет
                    специально для вас!
                </div>
                <form class="theme__form" action="#">
                    <label class="theme__form-label">
                        <input class="theme__form-phone" type="text" placeholder="7 (ххх) ххх хх хх">
                    </label>
                    <button class="theme__form-submit" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
            <div class="theme__image-wrapper">
                <img class="theme__image" src="../assets/images/cow.png" alt="Cow and lamps ^_^">
            </div>
        </section>
        <section class="main__about-us about-us">
            <div class="about-us__inner">
                <h2 class="about-us__title title-span">
                    Расскажем вам немного о себе
                </h2>
                <div class="about-us__description">
                    Мы ценим ваше время, по этому мы постараемся
                    рассказать о <a class="about-us__description-link" href="#">главном вкратце!</a>
                </div>
                <div class="about-us__content">
                    <div class="about-us__content-image-wrapper">
                        <img class="about-us__content-image" src="../assets/images/lamp.png" alt="Idea!">
                    </div>
                    <div class="about-us__content-text-wrapper">
                        <div class="about-us__num about-us__num-first">1</div>
                        <div class="about-us__content-text">
                            Наша компания была основана в 2015 году, название ей «ЭлипсЛед». Занимаемся мы производством
                            светильников для животноводства
                        </div>
                        <div class="about-us__num">2</div>
                        <div class="about-us__content-text">
                            Работаем мы исключительно на собственном оборудовании и только с качественным сырьем.
                        </div>
                        <div class="about-us__num">3</div>
                        <div class="about-us__content-text">
                            С помощью команды наших специалистов
                            мы смогли добиться одного из самых высоких уровней качества светодиодных светильников
                            для свиноводства, КРС, выращивания грибов!
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main__partners partners">
            <div class="container partners__inner">
                <div class="partners__text-wrapper">
                    <h2 class="partners__title">
                        <span class="title-span">Наши партнеры</span>
                        <span class="title-span">по бизнесу</span>
                    </h2>
                    <div class="partners__description">
                        Хотим рассказать вам
                        с кем мы сотрудничаем,
                        и кто нам <span class="partners__description-link">доверяет</span>
                    </div>
                </div>
                <div class="partners__logos">
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-1.png" alt="Partner logo">
                    </div>
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-2.png" alt="Partner logo">
                    </div>
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-3.png" alt="Partner logo">
                    </div>
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-4.png" alt="Partner logo">
                    </div>
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-5.png" alt="Partner logo">
                    </div>
                    <div class="partners__logo-wrapper">
                        <img class="partners__logo" src="../assets/images/partners-6.png" alt="Partner logo">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="strange container">
        <div class="bg-circle_1 circle-0"></div>
        <div class="bg-circle_1 circle-1"></div>
        <div class="bg-circle_2 circle-2"></div>
        <div class="bg-circle_2 circle-3"></div>
        <div class="bg-circle_2 circle-4"></div>
        <div class="bg-circle_1 circle-5"></div>
        <div class="bg-circle_1 circle-6"></div>
        <div class="bg-circle_1 circle-7"></div>
        <div class="bg-circle_2 circle-8"></div>
        <div class="bg-circle_1 circle-9"></div>
        <div class="bg-square_1 square-1"></div>
        <div class="bg-square_2 square-2"></div>
        <div class="bg-square_3 square-3"></div>
        <div class="bg-square_4 square-4"></div>
        <div class="bg-square_2 square-5"></div>
        <div class="bg-square_2 square-6"></div>
        <div class="bg-square_1 square-7"></div>
        <div class="bg-square_4 square-8"></div>
        <div class="bg-square_4 square-9"></div>
        <div class="bg-triangle_4 triangle-0"></div>
        <div class="bg-triangle_1 triangle-1"></div>
        <div class="bg-triangle_2 triangle-2"></div>
        <div class="bg-triangle_3 triangle-3"></div>
        <div class="bg-triangle_4 triangle-4"></div>
        <div class="bg-triangle_5 triangle-5"></div>
        <div class="bg-triangle_3 triangle-6"></div>
        <div class="bg-triangle_1 triangle-7"></div>
        <div class="bg-triangle_2 triangle-8"></div>
        <div class="bg-triangle_1 triangle-9"></div>
    </section>
</main>
<footer class="footer"></footer>
</body>
</html>
