.document-wrapper {
  overflow-y: hidden;
}

.strange {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //height: 100%;
  //z-index: -1;
}

.triangle-0,
.triangle-1,
.triangle-2,
.triangle-3,
.triangle-4,
.triangle-5,
.triangle-6,
.triangle-7,
.triangle-8,
.triangle-9,
.circle-0,
.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6,
.circle-7,
.circle-8,
.circle-9,
.square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6,
.square-7,
.square-8,
.square-9,
{
  position: absolute;
}

.triangle-0 {
  top: 2914px;
  left: 276px;
}

.triangle-1 {
  top: 17px;
  left: 149px;
}

.triangle-2 {
  top: 530px;
  left: 463px;
}

.triangle-3 {
  top: 1061px;
  left: -254px;
}

.triangle-4 {
  top: 1691px;
  left: 1152px;
}

.triangle-5 {
  top: 1004px;
  left: 1034px;
}

.triangle-6 {
  top: 581px;
  left: 1208px;
}

.triangle-7 {
  top: 1764px;
  left: -198px;
}

.triangle-9 {
  top: 1870px;
  left: 679px;
}

.triangle-8 {
  top: 2363px;
  left: 1003px;
}

.circle-0 {
  top: 2728px;
  left: 1093px;
}

.circle-1 {
  top: 108px;
  left: 733px;
}

.circle-2 {
  top: 333px;
  left: -210px;
}

.circle-3 {
  top: 802px;
  left: 585px;
}

.circle-4 {
  top: 989px;
  left: 162px;
}

.circle-5 {
  top: 1549px;
  left: 546px;
}

.circle-6 {
  top: 1327px;
  left: 1435px;
}

.circle-7 {
  top: 1918px;
  left: 198px;
}

.circle-8 {
  top: 2264px;
  left: -92px;
}

.circle-9 {
  top: 1989px;
  left: 1448px;
}

.square-1 {
  top: 2123px;
  left: 784px;
}

.square-2 {
  top: 687px;
  left: -21px;
}

.square-3 {
  top: 242px;
  left: 1278px;
  margin-left: auto;
}

.square-4 {
  top: 1440px;
  left: 118px;
}

.square-5 {
  top: 954px;
  left: 1515px;
}

.square-6 {
  top: 1289px;
  left: 879px;
}

.square-7 {
  top: 2688px;
  left: -172px;
}

.square-8 {
  top: 2542px;
  left: 595px;
}

.square-9 {
  top: 2443px;
  left: 1494px;
}

.bg-circle_1 {
  width: 25px; height: 25px;
  background: url('../assets/images/css_sprites.png') -30px -2px;
}

.bg-circle_2 {
  width: 25px; height: 25px;
  background: url('../assets/images/css_sprites.png') -59px -2px;
}

.bg-square_1 {
  width: 33px; height: 33px;
  background: url('../assets/images/css_sprites.png') -273px -2px;
}

.bg-square_2 {
  width: 29px; height: 29px;
  background: url('../assets/images/css_sprites.png') -207px -2px;
}

.bg-square_3 {
  width: 29px; height: 28px;
  background: url('../assets/images/css_sprites.png') -240px -2px;
}

.bg-square_4 {
  width: 35px; height: 34px;
  background: url('../assets/images/css_sprites.png') -310px -2px;
}

.bg-triangle_1 {
  width: 26px; height: 28px;
  background: url('../assets/images/css_sprites.png') -117px -2px;
}

.bg-triangle_2 {
  width: 25px; height: 25px;
  background: url('../assets/images/css_sprites.png') -88px -2px;
}

.bg-triangle_3 {
  width: 26px; height: 25px;
  background: url('../assets/images/css_sprites.png') -147px -2px;
}

.bg-triangle_4 {
  width: 24px; height: 25px;
  background: url('../assets/images/css_sprites.png') -2px -2px;
}

.bg-triangle_5 {
  width: 26px; height: 28px;
  background: url('../assets/images/css_sprites.png') -177px -2px;
}
